# Base de datos local
empresa.db

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env/

# Archivos de VS Code
.vscode/

# Archivos temporales
*.log
*.tmp

# Archivos del sistema
.DS_Store
Thumbs.db